# Python venv
.venv/
venv/

# Environment files
.env

# Python cache
__pycache__/
*.pyc

# FAISS and generated data
data/*.faiss
data/*.pkl

# Streamlit cache
.streamlit/

# VSCode
.vscode/

# OS files
Thumbs.db
.DS_Store
